# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\study_data\스프링\패스트캠퍼스 - java-spring\fastcampus_java_spring_study\object-mapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
